ruby:
  links = [
    {from: "AAA", to: "AZY",  label: "Allgemeines"},
    {from: "BEA", to: "BSK",  label: "Allgemeine und vergleichende Sprach- und Literaturwissenschaft"},
    {from: "BTA", to: "DDZ",  label: "Germanistik"},
    {from: "DEA", to: "EOF",  label: "Anglistik und Amerikanistik"},
    {from: "EPA", to: "FZT",  label: "Romanistik"},
    {from: "GTA", to: "HGY",  label: "Sonstige Philologien"},
    {from: "HIA", to: "HPQ",  label: "Philosophie"},
    {from: "HQA", to: "HXQ",  label: "Psychologie"},
    {from: "HYA", to: "IKY",  label: "Erziehungswissenschaft"},
    {from: "ILA", to: "IVX",  label: "Religionswissenschaft, Theologie"},
    {from: "IWA", to: "JSZ",  label: "Autoren Geisteswissenschaften"},
    {from: "JXA", to: "KKP",  label: "Kunstwissenschaften"},
    {from: "KKS", to: "KNZZ", label: "Medienwissenschaft"},
    {from: "KOA", to: "KWV",  label: "Sportwissenschaft"},
    {from: "KXA", to: "MQX",  label: "Geschichte"},
    {from: "MRA", to: "NMU",  label: "Geowissenschaften"},
    {from: "NOA", to: "NRX",  label: "Sozialwissenschaften allgemein"},
    {from: "NXA", to: "OSG",  label: "Soziologie"},
    {from: "OTA", to: "PFZ",  label: "Politikwissenschaft"},
    {from: "PHA", to: "QKU",  label: "Wirtschaftswissenschaften"},
    {from: "QMA", to: "QWW",  label: "Rechtswissenschaft"},
    {from: "RMA", to: "RQH",  label: "Land- und Forstwirtschaft"},
    {from: "RQI", to: "RSX",  label: "Haushalts-, Ernährungs- und Lebensmittelwissenschaften"},
    {from: "STA", to: "SZO",  label: "Naturwissenschaften allgemein"},
    {from: "TAA", to: "TSN",  label: "Mathematik"},
    {from: "TTA", to: "TZZ",  label: "Informatik"},
    {from: "UAA", to: "UMP",  label: "Physik"},
    {from: "UNA", to: "UYO",  label: "Chemie"},
    {from: "VAA", to: "VHO",  label: "Astronomie"},
    {from: "VNA", to: "VTW",  label: "Biologie"},
    {from: "VUA", to: "VZX",  label: "Medizin"},
    {from: "WAA", to: "WHR",  label: "Technik allgemein"},
    {from: "WSA", to: "XHV",  label: "Architektur, Bauingenieurwesen, Vermessungswesen"},
    {from: "XIA", to: "XTV",  label: "Maschinenbau"},
    {from: "XVA", to: "YGY",  label: "Elektrotechnik"},
    {from: "ZEA", to: "ZWT",  label: "Sonstige Gebiete der Technik"},
    {from: "ZZV", to: "ZZV",  label: "Sammlungen"}
  ]

h5 = "Neuerwerbungen"

- if links.present?
  p: em
    ' Fachspezifische Sucheinstiege zu Neuerwerbungen. Für weitere Informationen zum Thema
    ' haben wir ein <a href="https://blogs.uni-paderborn.de/ub-katalog/2024/03/15/neuerwerbungslisten" target="_blank"><i class="fa-solid fa-external-link"></i> Blogbeitrag für Sie erstellt</a>.

  .row
    - links.each_slice(links.count/2 + 1) do |sliced_links|
      .col
        - sliced_links.each do |link|
          - sr = SearchEngine::SearchRequest.parse("sr[q,local_notation]=[#{link[:from]} TO #{link[:to]}]&sr[s,desc]=newrecords")
          div = link_to new_search_request_path(sr) do
            = link[:label]
- else
  .alert.alert-warning.mb-0 = "Keine Links verfügbar"

