#pwa-info-box
  .alert.alert-success.p-2
    .d-flex.gap-2
      .mr-2
        i.fa-solid.fa-download.fa-2x.text-success-emphasis
      div
        .fw-bold.text-success-emphasis = t("pwa_info.header")
        p.mb-1
          = t("pwa_info.text")
          =< link_to "Mehr erfahren...", "https://blogs.uni-paderborn.de/ub-katalog/2024/10/01/katalog-als-web-app-installieren/", target: "_blank", class: "alert-link"
        #pwa-install-box.d-grid.gap-2.d-none
          #pwa-install-btn.btn.btn-success.btn-sm(data-turbo="false")
            span = t("pwa_info.btn")

javascript:
  pwa_install_box = document.querySelector("#pwa-install-box");
  pwa_install_btn = document.querySelector("#pwa-install-btn");

  if (pwa_install_prompt) {
    pwa_install_box.classList.remove("d-none");
  } else {
    var pwa_install_prompt = null;
  }

  window.addEventListener("beforeinstallprompt", (e) => {
      e.preventDefault();
      pwa_install_prompt = e;
      pwa_install_box.classList.remove("d-none");
    });

  pwa_install_btn.addEventListener("click", async () => {
      if (!pwa_install_prompt) {
        return;
      }

      pwa_install_prompt.prompt();
      const { outcome } = await pwa_install_prompt.userChoice;

      pwa_install_prompt = null;
      if (outcome === "accepted") {
        pwa_install_box.classList.add("d-none");
      }
    });
