#pwa-info-box(hidden)
  .alert.alert-success.p-2
    .d-flex.gap-2
      .mr-2
        i.fa-solid.fa-download.fa-2x.text-success-emphasis
      div
        .fw-bold.text-success-emphasis = t("pwa_info.header")
        p.mb-1
          = t("pwa_info.text")
          /=< link_to "Mehr erfahren...", "", target: "_blank", class: "alert-link"
        .d-grid.gap-2
          #pwa-install-btn.btn.btn-success.btn-sm(data-turbo="false")
            span = t("pwa_info.btn")

javascript:
  pwa_info_box = document.querySelector("#pwa-info-box");
  pwa_install_btn = document.querySelector("#pwa-install-btn");

  if (pwa_install_prompt) {
    pwa_info_box.removeAttribute("hidden");
  } else {
    var pwa_install_prompt = null;
  }

  window.addEventListener("beforeinstallprompt", (e) => {
      e.preventDefault();
      pwa_install_prompt = e;
      pwa_info_box.removeAttribute("hidden");
    });

  pwa_install_btn.addEventListener("click", async () => {
      if (!pwa_install_prompt) {
        return;
      }

      pwa_install_prompt.prompt();
      const { outcome } = await pwa_install_prompt.userChoice;

      pwa_install_prompt = null;
      if (outcome === "accepted") {
        pwa_info_box.setAttribute("hidden", "");
      }
    });
