.card {
  background-color: transparent;

  .card-body {
    background-color: $card-bg;
  }

  .card-header,
  .card-footer {
    background-color: rgba($card-bg, 0.7);
  }

  &.card-primary {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: $primary;
  }

  &.card-shadowed {
    // Use filter and drop-shadow instead of box-shadow
    // to use the shadow together with "cutoff-corner".
    filter: drop-shadow($box-shadow);
  }
}
