.card {
  background-color: transparent;

  .card-body {
    background-color: $white;
  }

  .card-header,
  .card-footer {
    background-color: $gray-100;
  }

  &.card-primary {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: $primary;
  }

  &.card-shadowed {
    // Use filter and drop-shadow instead of box-shadow.
    // This allows us to use the shadow on cards with transparent
    // headers (e.g. the search panel)
    filter: drop-shadow($box-shadow);
    @media print {
      filter: none;
    }
  }

  @media print {
    border: 1px solid $gray-300;
  }
}

@media print {
  .card {
    border: 1px solid $gray-300;

    &.card-shadowed {
      filter: none;
    }
  }
}
