#test-server-warning {
  text-align: center;
  padding: 8px;
  background: var(--bs-red);
  color: var(--bs-white);
  font-weight: bold;

  a {
    color: var(--bs-white);
    text-decoration: underline;
  }
}

.scope-info {
  $image-width: 120px;
  $image-margin: 5px;

  @include clearfix;

  .image {
    float: left;
    width: $image-width;
    margin-right: $image-margin;
    margin-top: 7px;
  }

  .heading {
    font-size: 110%;
    font-weight: bold;
    color: $primary;
  }

  .info,
  .heading {
    margin-left: $image-width + $image-margin;
  }

  @include media-breakpoint-down(sm) {
    .image {
      display: none;
    }

    .info,
    .heading {
      margin-left: 0;
    }
  }
}

.turbo-progress-bar {
  height: 3px;
  background-color: var(--bs-primary);
}

#header {
  padding: 1.5rem 0;

  #ub-logo {
    height: 62px;

    @include media-breakpoint-up(md) {
      height: 72px;
    }
  }

  #app-name, #app-name a {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--upb-ultrablau);
    text-align: end;
  }
}

@include color-mode(dark) {
  .nav {
    --bs-nav-link-color: var(--bs-light);
  }

  #header {
    #app-name, #app-name a {
      color: var(--bs-light);
    }

    #ub-logo {
      * {
        fill: var(--bs-light);
      }

      @media print {
        * {
          fill: var(--bs-dark);
        }
      }
    }
  }
}

#page {
  padding-top: 1.5rem;
  padding-bottom: calc($spacer * 4);
  background-color: var(--bs-tertiary-bg);

  @media print {
    padding: 0;
  }
}

#footer {
  color: $white;

  a {
    color: var(--bs-white);
  }

  .nav-link {
    color: var(--bs-white);
    padding: 0;

    &:hover {
      color: var(--bs-white);
      text-decoration: underline;

      .icon {
        translate: 0.4rem;
      }
    }

    .icon {
      padding-left: 0;
      padding-right: 0.8rem;
      transition: translate .3s ease;
    }
  }

  .app-footer {
    padding: $spacer * 3 0;
    background-color: var(--upb-himmelblau);
  }

  .upb-footer {
    padding: $spacer * 3 0;
    background-color: var(--upb-ultrablau);

    .nav.social-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .nav-link {
        color: var(--upb-ultrablau);
        font-size: 26px;
        line-height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        background-color: var(--bs-white);
        border-radius: 50%;
        outline: 2px solid transparent;
        outline-offset: 3px;
        transition: outline-color .15s ease-in-out, background-color .15s ease-in-out;
        text-decoration: none;

        &:hover {
          text-decoration: none;
          outline-color: var(--bs-white);
          background-color: var(--upb-arktisblau);
        }
      }
    }
  }
}

@include color-mode(dark, true) {
  #footer {
    .app-footer {
      background-color: var(--bs-light-bg-subtle);
    }

    .upb-footer {
      background-color: var(--bs-body-bg);

      .nav.social-nav {
        .nav-link {
          background-color: var(--bs-light-bg-subtle);
          color: var(--bs-white);
        }
      }
    }
  }

}


