body {
  background-color: $cyan;
  @media print {
    background-color: $white;
  }
}

#test-server-warning {
  text-align: center;
  padding: 8px;
  background: $red;
  color: $white;
  font-weight: bold;

  a {
    color: white;
    text-decoration: underline;
  }
}

#beta-info {
  text-align: center;
  padding: 4px 8px;
  background: $red;
  color: $white;
  font-weight: normal;
  font-size: 0.8rem;

  a {
    color: white;
    text-decoration: underline;
  }
}

.scope-info {
  $image-width: 120px;
  $image-margin: 5px;

  @include clearfix;

  .image {
    float: left;
    width: $image-width;
    margin-right: $image-margin;
    margin-top: 7px;
  }

  .heading {
    font-size: 110%;
    font-weight: bold;
    color: $primary;
  }

  .info,
  .heading {
    margin-left: $image-width + $image-margin;
  }

  @include media-breakpoint-down(sm) {
    .image {
      display: none;
    }

    .info,
    .heading {
      margin-left: 0;
    }
  }
}

.turbo-progress-bar {
  height: 3px;
  background-color: $cyan;
}

header {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $white;
}

#header-ub-logo {
  height: 60px;
}

#header-app-logo {
  height: 35px;
}

#page {
  padding: $spacer 0;
  padding-bottom: 0;
  background-color: $gray-200;

  background-image: radial-gradient($gray-500 0.5px, transparent 0.5px), radial-gradient($cyan 0.5px, $gray-200 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;

  @media print {
    background-image: none;
    background-color: $white;
    padding: 0;
  }
}

footer {
  background-color: transparent;
  color: $white;
  margin: 0;
  margin-bottom: $spacer;

  a {
    color: $white;
    &:hover {
      color: map-get($theme-colors, 'accent');
    }
  }

  .footer-claim {
    font-size: $font-size-sm;
    background-color: $white;
    font-style: italic;
    color: map-get($theme-colors, 'accent');
    font-weight: bold;
    padding: 5px 0;
  }

  .footer-content {
    font-size: $font-size-sm;
    margin: math.div($spacer, 3) 0;
  }

  .footer-image {
    text-align: center;
  }

  @media print {
    color: $black;

    a {
      color: $black;
    }
  }
}
