body {
  background-color: var(--bs-primary);
  @media print {
    background-color: $white;
  }
}

@include color-mode(dark) {
  body {
    background-color: var(--bs-secondary-bg);
  }
}

#test-server-warning {
  text-align: center;
  padding: 8px;
  background: $red;
  color: $white;
  font-weight: bold;

  a {
    color: white;
    text-decoration: underline;
  }
}

.scope-info {
  $image-width: 120px;
  $image-margin: 5px;

  @include clearfix;

  .image {
    float: left;
    width: $image-width;
    margin-right: $image-margin;
    margin-top: 7px;
  }

  .heading {
    font-size: 110%;
    font-weight: bold;
    color: $primary;
  }

  .info,
  .heading {
    margin-left: $image-width + $image-margin;
  }

  @include media-breakpoint-down(sm) {
    .image {
      display: none;
    }

    .info,
    .heading {
      margin-left: 0;
    }
  }
}

.turbo-progress-bar {
  height: 3px;
  background-color: $cyan;
}

header {
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--bs-white);
}

@include color-mode(dark) {
  header {
    background-color: var(--bs-secondary-bg);

    .ub-logo, .app-logo {
      * {
        fill: $light;
      }

      @media print {
        * {
          fill: $upb-blue;
        }
      }
    }
  }
}

#page {
  padding: $spacer 0;
  background-image: radial-gradient(var(--bs-secondary-bg) 0.5px, transparent 0.5px), radial-gradient(var(--bs-primary) 0.5px, var(--bs-secondary-bg) 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;

  @media print {
    background-image: none;
    background-color: $white;
    padding: 0;
  }
}

footer {
  color: $white;
  margin: 0;
  margin-bottom: $spacer;

  a {
    color: $white;
    &:hover {
      color: $upb-blue;
    }
  }

  .footer-claim {
    font-size: $font-size-sm;
    background-color: var(--bs-white);
    font-style: italic;
    color: $upb-blue;
    font-weight: bold;
    padding: 5px 0;
  }

  .footer-content {
    font-size: $font-size-sm;
    margin: math.div($spacer, 3) 0;
  }

  .footer-image {
    text-align: center;
    background-image:  url("../../../images/footer-bg-lg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
  }
}

@include color-mode(dark) {
  footer {
    .footer-claim {
      background-color: var(--bs-gray-700);
      color: $light;
    }

    .footer-image {
      background-image:  url("../../../images/footer-bg-lg-dark.jpg");
    }
  }
}
