#search_panel {
  .card {
    border: none;
    background-color: transparent;
  }

  .card-header {
    border: none;
    border-bottom: 1px solid var(--bs-card-border-color);
    background-color: transparent;

    .card-header-tabs {
      .nav-link {
        border-color: transparent;
        border-radius: $card-border-radius;
        transition: none;

        &.active {
          background-color: $card-bg;
          border-color: var(--bs-card-border-color);
          border-bottom-color: transparent;
          border-radius: $card-border-radius;
        }
      }
    }
  }

  .card-body {
    background-color: $card-bg;
    border: 1px solid var(--bs-card-border-color);
    border-top: none;
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
  }
}

@include media-breakpoint-down(md) {
  #search_panel {
    .advanced-search-row {
      .advanced-search-search-input {
        > .form-control {
          border-radius: 0;
          border-top-right-radius: $card-border-radius;
          border-top-left-radius: $card-border-radius;
          border-color: $upb-arktisblau-60p;
          transition: none;
          &:focus {
            box-shadow: none;
          }
        }
      }

      .advanced-search-field-input {
        > .form-select {
          border-top: none;
          border-bottom: none;
          border-radius: 0;
          border-color: $upb-arktisblau-60p;
          transition: none;
          &:focus {
            box-shadow: none;
          }
        }
      }

      .advanced-search-buttons {
        > .btn {
          border-radius: 0;
          border-color: $upb-arktisblau-60p;
          transition: none;
          &:focus {
            box-shadow: none;
          }
          &:first-child {
            border-bottom-left-radius: $card-border-radius;
          }
          &:last-child {
            border-bottom-right-radius: $card-border-radius;
          }
        }
      }
    }
  }
}
