// Custom colors
$upb-blue: #003671;
$upb-cyan: #18b0e2;

// Override Bootstrap colors
$white: #fff;
$black: #000;
$blue:  $upb-blue;
$cyan:  $upb-cyan;

// Override Bootstrap theme colors
$primary: $upb-cyan;

// Enable negative margin utils
$enable-negative-margins: true;

// Reduce contrast ratio to force white text on $upb-cyan
$min-contrast-ratio: 2.5;

// Adjust font settings
$font-family-sans-serif: Signika, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 0.95rem;

// Tweek links
$link-color: $upb-blue;
$link-decoration: none;
$link-hover-color: $upb-cyan;
$link-hover-decoration: none;

// Tweek card component
$card-border-width: 0;
$card-border-radius: 0;

// Tweek navbar component
$navbar-dark-bg-color:              $white;
$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-toggler-border-color:  rgba($white, .1) !default;

// Tweek pagination
$pagination-hover-color: $link-color;
